<!DOCTYPE html>
<html>

<head>
  <title>Versículo del día</title>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700&family=Shippori+Antique&display=swap" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>

  <h1>Versículo del día</h1>

  <div class="card fade">
    <p class="verse">
      <%= quote %>
    </p>
  </div>
 
    <p class="reference fade">
      — <%= character %>
    </p>
  </div>

</body>

</html>